<<<<<<< HEAD
$color1: #2C3E50;
$color2: #E74C3C;
$color3: #ECF0F1;
$color4: #3498DB;
$color5: #2980B9;
=======
$color1: #F20574;
$color2: #049DBF;
$color3: #04BFBF;
$color4: #04D99D;
$color5: #F2CB07;
>>>>>>> b3dd29178d92ba82d65cc483cace506b4525cb7b

$color-dark: #000000;
$color-light: #FFFFFF;

body {
    background: $color3;
<<<<<<< HEAD
    overflow-x: hidden;
=======
>>>>>>> b3dd29178d92ba82d65cc483cace506b4525cb7b
}

.navbar {
    background: $color2;
<<<<<<< HEAD
    border-bottom: 2px $color5 solid;
=======
    box-shadow: 2px 2px 4px $color5;
>>>>>>> b3dd29178d92ba82d65cc483cace506b4525cb7b
}

a.nav-link {
    color: $color5;
}

#video_player_box {
    width: 100%;
    height: 700px;
    background: $color-dark;
}
#video {
    width: 100%;
    height: 700px;
}
#video_controls {
    width: 100%;
    height: 50px;
    background: $color2;
    margin-top: -55px;
    opacity: 0.8;
}
#video_player_box > #video_controls > #playpausebtn {
    float: left;
    color: $color1;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}
#video_player_box > #video_controls > #timestamp {
    width: 100px;
    height: 30px;
    font-size: 14px;
    float: left;
    padding-top: 10px;
    padding-left: 10px;
}
#video_player_box > #video_controls > #timestamp > #curtimetext {
    color: $color1;
}
#video_player_box > #video_controls > #mutebtn {
    float: left;
    color: $color1;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}
#video_player_box > #video_controls > #volumeslider {
    width: 100px;
    margin-top: 18px;
    float: left;
    margin-left: 20px;
}
#video_player_box > #video_controls > #seekslider {
    width: 100%;
    float: left;
}
#video_player_box > #video_controls > #fullscreenbtn {
    float: right;
    color: $color1;
    font-size: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}
input[type="range"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    width: 100%;
    cursor: pointer;
    outline: none;
}
input[type="range"] {
    /* ... */
  
    /*  styling the track  */
    height: 5px;
    background: $color3;
    overflow: hidden;
    border-radius: 16px;
}
input[type="range"]::-webkit-slider-runnable-track {
    height: 5px;
    background: $color3;
    border-radius: 16px;
  }
  
  /* Track: Mozilla Firefox */
  input[type="range"]::-moz-range-track {
    height: 5px;
    background: $color3;
    border-radius: 16px;
  }
  input[type="range"]::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    height: 5px;
    width: 5px;
    background-color: $color1;
    border-radius: 50%;
    border: 2px solid $color1;
    box-shadow: -407px 0 0 400px $color1;
  }
  input[type="range"]::-moz-range-thumb {
    height: 5px;
    width: 5px;
    background-color: $color1;
    border-radius: 50%;
    border: 1px solid $color1;
    box-shadow: -407px 0 0 400px $color1;
  }
  